[submodule "Packages/com.ramirestechgames.core"]
	path = Packages/com.ramirestechgames.core
	url = https://github.com/GuiJR777/com.ramirestechgames.core.git
[submodule "Packages/com.ramirestechgames.stats"]
	path = Packages/com.ramirestechgames.stats
	url = https://github.com/GuiJR777/com.ramirestechgames.stats.git
[submodule "Packages/com.ramirestechgames.hfsm"]
	path = Packages/com.ramirestechgames.hfsm
	url = https://github.com/GuiJR777/com.ramirestechgames.hfsm.git
